body {
  font-family: Roboto, sans-serif;
//   font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
