<div class="modal fade" id="createVisitModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Створити візит</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити"></button>
            </div>
            <div class="modal-body">
                <form id="visitForm" class="needs-validation was-validated" novalidate>
                    <div class="form-group">
                        <label for="doctorSelect">Лікар:</label>
                        <select class="form-control" id="doctorSelect" required data-clearable>
                            <option selected disabled value="">Виберіть...</option>
                            <option value="cardiologist">Кардіолог</option>
                            <option value="dentist">Стоматолог</option>
                            <option value="therapist">Терапевт</option>
                        </select>
                        <div class="invalid-feedback">Це поле має бути заповнене.</div>
                    </div>

                    <div id="commonFields" class="d-none">
                        <div class="form-group">
                            <label for="purpose">Мета візиту:</label>
                            <input type="text" class="form-control" id="purpose" required data-clearable />
                            <div class="invalid-feedback">Це поле має бути заповнене.</div>
                        </div>

                        <div class="form-group">
                            <label for="description">Короткий опис візиту:</label>
                            <textarea class="form-control" id="description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="urgencySelect">Терміновість:</label>
                            <select class="form-control" id="urgencySelect">
                                <option value="звичайна">Звичайна</option>
                                <option value="пріоритетна">Пріоритетна</option>
                                <option value="невідкладна">Невідкладна</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="name">ПІБ:</label>
                            <input type="text" class="form-control" id="name" required data-clearable/>
                            <div class="invalid-feedback">Це поле має бути заповнене.</div>
                        </div>
                    </div>

                    <div id="cardiologistFields" class="d-none">
                        <div class="form-group">
                            <label for="pressure">Звичайний тиск:</label>
                            <input type="text" class="form-control" id="pressure" required data-clearable />
                        </div>

                        <div class="form-group">
                            <label for="index">Індекс маси тіла:</label>
                            <input type="text" class="form-control" id="index" required data-clearable />
                        </div>

                        <div class="form-group">
                            <label for="disease">Перенесені захворювання серцево-судинної системи:</label>
                            <input type="text" class="form-control" id="disease" required data-clearable />
                        </div>

                        <div class="form-group">
                            <label for="age">Вік:</label>
                            <input type="text" class="form-control" id="age" required data-clearable />
                        </div>
                    </div>

                    <div id="dentistFields" class="d-none">
                        <div class="form-group">
                            <label for="lastVisitDate">Дата останнього відвідування:</label>
                            <input type="date" class="form-control" id="lastVisitDate" required data-clearable />
                        </div>
                    </div>

                    <div id="therapistFields" class="d-none">
                        <div class="form-group">
                            <label for="ageTherapist">Вік:</label>
                            <input type="text" class="form-control" id="ageTherapist" required data-clearable />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="createVisitButton">Створити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
