<section class="container">
	<div class="filters d-flex  flex-column align-items-center">
		<div class="d-flex align-items-center pt-2">
			<button id="filter-button" class="btn btn-primary" type="button">Фільтр</button>
		</div>

		<form id="filter" class="d-none  gap-2 justify-content-between align-items-center">
			<div class="form-field d-md-inline-flex align-items-center">
				<label class="label d-inline text-nowrap me-2" for="filter-purpose">Мета візиту</label>
				<input id="filter-purpose" name="searhcString" type="text" class="form-control"  placeholder="Пошук" />
			</div>

			<!-- <div class="form-field d-md-inline-flex align-items-center pt-2">
				<label class="label me-2" for="filter-status">Статус</label>
				<select id="filter-status" name="status" class="form-control">
					<option value=""></option>
					<option value="open">Open</option>
					<option value="done">Done</option>
				</select>
			</div> -->

			<div class="form-field d-md-inline-flex align-items-center pt-2">
				<label class="label me-2" for="filter-doctor">Лікар</label>
				<select id="filter-doctor" name="doctor" class="form-control">
					<option value=""></option>
					<option value="cardiologist">Кардіолог</option>
					<option value="dentist">Стоматолог</option>
					<option value="therapist">Терапевт</option>
				</select>
			</div>

			<div class="form-field d-md-inline-flex align-items-center pt-2">
				<label class="label me-2" for="filter-urgency">Терміновість</label>
				<select id="filter-urgency" name="urgency" class="form-control">
					<option value=""></option>
					<option value="звичайна">Звичайна</option>
					<option value="пріоритетна">Пріоритетна</option>
					<option value="невідкладна">Невідкладна</option>
				</select>
			</div>
		</form>
	</div>
	<hr class="my-2" />
	<p class="inform-bar text-danger text-center"></p>
</section>