<header class="header">
    <div class="bg-body-tertiary">
        <div class="container">
            <div class="navbar d-flex justify-content-between align-items-center py-2">
                <div class="logo">
                    <a>
                        <img src="../images/logo-doctor.svg" alt="Logo" height="75" class="rounded" />
                    </a>
                </div>
                <div class="actions">
                    <button class="btn btn-primary login-btn" data-bs-toggle="modal" data-bs-target="#login-modal">Вхід</button>
					<button class="btn btn-primary btn-sm create-visit-btn d-none" data-bs-toggle="modal" data-bs-target="#createVisitModal">Створити візит</button>
                    <button class="btn btn-secondary btn-sm logout-btn d-none">Вийти</button>
                </div>
            </div>
        </div>
    </div>
</header>
